#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook using H1 style heading

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

This note book summarizes Data Science Tools and Ecosystem.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

**Objectives:**

<ul>
    <li>List popular languages for Data Science</li>
    <li>List libraries for Data Science</li>
    <li>Table of Data Science tools</li>
</ul>

<ul>
    <li>List popular languages for Data Science</li>
    <li>List libraries for Data Science</li>
    <li>Table of Data Science tools</li>
</ul>

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

## Author

Haley

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
    <li>Julia</li>
</ol>

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Scala</li>
<li>Julia</li>
</ol>

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>ggplot2</li>
    <li>Lattice</li>
    <li>Pandas</li>
</ol>

<ol>
    <li>ggplot2</li>
    <li>Lattice</li>
    <li>Pandas</li>
</ol>

Exercise 6 - Create a markdown cell with a table of Data Science tools

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Zeppelin</td>
    </tr>
</table>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Zeppelin</td>
    </tr>
</table>

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:

### Below are a few examples of evaluating arithmetic expressions in Python:

Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [10]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335